<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
</head>
<body>
<div class='main'>
    
    {% for thesis  in CpE_Thesis %}
    {% if thesis.key.id()==id %}
    <h1>Edit Thesis Entry</h1>
    <div class='form-section'>
    <form id='MyForm2' action="/thesis/edit/{{thesis.key.id()}}" method ="post">
        <strong>School Year</strong>
            <select name="year" >
            <option selected="selected">{{thesis.year}}</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>

        </select><p>
        <strong>Title</strong>
        <input type="text" name="title" class="input" placeholder="Title" value= "{{thesis.title}}" required> <br>
        <strong><p>Abstract</p></strong>
        <textarea name= "abstract" placeholder="Input Thesis Abstract Here" rows="3" cols="40"  required>{{thesis.abstract}}</textarea><br>
        <strong>Adviser</strong><br>
        <input type="text" name="adviser" class="input" placeholder="Adviser" value= "{{thesis.adviser}}" required> <br> <br>
        <strong>Section</strong>
            <select name="section" value= "{{thesis.section}}">
            <option selected="selected">{{thesis.section}}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><p><br>
        <div><input type="submit" class="button" value="Edit Thesis"  > </div><br><br>
        <!--        # thesis details
        # Year - Select (2011, 2012, 2013, 2014, 2015)
        # Title - Textbox
        # Abstract - TextArea
        # Adviser - Textbox
        # Section - Select (1,2,3,4,5)
        # created thesis should appear in the thesis list below the form 10pts
          -->
         
    </form>
    </div>

   
    {% endif %}          
    {% endfor %}
    
</div>


<script type="text/javascript" src='/static/script.js'></script>
</body>
</html>